<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en-GB">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
    <title>Zajavka Medical Clinic</title>
</head>

<body>
    <div class="container">
        <br>
        <h1>Zajavka Medical Clinic!</h1>
    </div>

    <div class="container">
        <div class="row mt-3">
            <div class="col-md-4">
                <a th:href="@{/}" class="btn btn-info" role="button">Go back to the main page</a>
            </div>
        </div>

        <br>
        <br>


        <div class="container">
            <h2>Hi Doc!</h2>
            <p>Check and manage the following appointments!</p>

            <br>
            <br>

            <div th:if="${#lists.isEmpty(plannedAppointmentDTOs)}">
                <h5>You currently have no appointments scheduled. Feel free!</h5>
            </div>

            <div th:if="${not #lists.isEmpty(plannedAppointmentDTOs)}">
                <table class="table">
                    <thead class="table-dark">
                    <tr>
                        <th>Date and time</th>
                        <th>Patient</th>
                        <th>Birthdate</th>
                        <th>Patient comment</th>
                        <th>Patient's treatment history</th>
                        <th>Add appointment details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="appointment : ${plannedAppointmentDTOs}">
                        <td th:text="${appointment.dateTime}"></td>
                        <td th:text="${appointment.patient.name} + ' ' + ${appointment.patient.surname}"></td>
                        <td th:text="${appointment.patient.birthdate}"></td>
                        <td th:text="${appointment.patientComment}"></td>
                        <td><a th:href="@{'/patient/' + ${appointment.patient.patientId} + '/history'}" class="btn btn-info" role="button">See history</a></td>
                        <td><a th:href="@{'/appointment/details/' + ${appointment.plannedAppointmentId}}" class="btn btn-info" role="button">Add details</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <br>
            <br>

            <div class="row mt-3">
                <div class="col-md-4">
                    <a th:href="@{'/doctor/' + ${doctorId} + '/calendar'}" class="btn btn-success" role="button">Update your calendar</a>
                </div>
                <div class="col-md-4">
                    <a th:href="@{/appointment/cancel}" class="btn btn-success" role="button">Cancel an appointment</a>
                </div>
                <div class="col-md-4">
                    <a th:href="@{'/doctor/' + ${doctorId} + '/history'}" class="btn btn-success" role="button">See your previous appointments</a>
                </div>
            </div>
            <br>
            <br>
        </div>

    </div>
</body>
</html>